*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(255, 255, 255); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif; 
   

}
body{
    background-color: rgb(175, 208, 204);
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(map.png); */
    /* background: url(map.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat;
    background-position: center; */
    
}

.container{
    width: 100%;
    height: 100%;

}

/* -------------------------------------------------------------bag  imagex */
.web-dev{
    background: url(6.webp);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
#web_heading{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color:rgb(0, 249, 241)
}

.web-dev .heading2{
    font-size: 44px;
    text-transform: uppercase;
    margin-top: 700px;
    margin:105px 10px;
    border-radius: 6px;
    padding: 12px 20px;
    background-color: rgb(0, 242, 255);
    width: 300px;
    height: 60px;
    
    /* ----------- */
    
}
.heading2{
    font-size: 44px;
    text-transform: uppercase;
    margin-top: 40px;
    margin:15px 10px;
    border-radius: 6px;
    padding: 12px 20px;
    background-color: rgb(131, 88, 231);
    width: 300px;
    height: 60px;
}
h2:hover{
    background-color: rgb(83, 210, 239);
}

.content_container{
    padding: 30px;
    margin: 70px;
    display: flex;
    overflow-x: auto;
    background-color: rgb(176, 224, 241);
 
}

.videos{
    background-color: rgb(204, 192, 192);
    padding: 0px 16px;
    padding-top: 16px;
    padding-bottom: 45px;
    margin:0px 12px;
    border-radius: 2px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
   
}


/* ------------------------------ */
.toggle_container{
    display: none;
    
}
/* ------------------------------ */
.toggle2{
    display: none;
}
/* ------------------------------ */
.toggle3{
    display: none;
}
/* ------------------------------ */
.toggle4{
    display: none;
}
.hide{
    display: block;
}
/* ------------------------------ */
button{
    background-color:transparent;
    border: none;
}




.rectangle{
    padding:0 100px;
    /* background-color: rgb(248, 248, 248); */
}